/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* GENERAL PROJECT STYLES */
    color: #3a3a3a;
    /* color-scheme for site
    : #7cb6e5 #e1c3af(MAIN) #3b443f #382f24 #b4b4d4 */
    font-family: 'Roboto Slab', sans-serif;

}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 2px 1px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #003b1b;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    list-style-image: url("/assets/favicon1/favicon-16x16.png");
    list-style-position: inside;
    padding-top: 10px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0px 2px 1px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* MAIN CONTENT */
main {
    background-color: #e1c3af;
    /* MAIN ELEMENT TAKE SURPLUS SPACE TO PUSH FOOTER */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* FOOTER */

#social-links {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    letter-spacing: 5px;
    list-style-type: none;
    text-align: center;

}

#social-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* MEDIA QUERY: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* HEADER */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* MAIN CONTENT */
    main {
        margin-top: 79px;
    }

    /* MEDIA QUERY: small laptops and larger (992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }

}