/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* GENERAL STYLES */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* GENERAL PROJECT STYLES */
    background-color: #FCFCF5;
    color: #3a3a3a;
    /* color-scheme for site
    : #7cb6e5 #e1c3af(MAIN) #3b443f #382f24 #b4b4d4 */
    font-family: 'Roboto Slab', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #003b1b;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: disclosure-closed;
    list-style-image: url("/assets/favicon1/favicon-16x16.png");
    list-style-position: inside;
    padding-top: 10px;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 1);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* MAIN CONTENT */
main {
    /* background-color: #e1c3af; */
    /* MAIN ELEMENT TAKE SURPLUS SPACE TO PUSH FOOTER */
    flex: 1 0 auto;
    margin-top: 77px;
    background-color: #FCFCF5;

}

#hero {
    height: 100%;
    width: 100%;
    background: url("../images/photo-1534294228306-bd54eb9a7ba8\ \(1\).avif") no-repeat center center/cover;
    transition: transform 10s ease-in-out, width 3s ease-in-out, height 3s ease-in-out;
    animation-duration: 10s;
    animation-name: hero-zoom;
    position: relative;
}

@keyframes hero-zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.hero-outer {
    height: 64.446vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 1);


    position: relative;

}

#cover-text {

    background-color: rgba(141, 205, 170, .6);
    font-size: 130%;
    position: absolute;

    width: 200px;
    min-height: 200px;
    right: 40px;
    padding-left: 10px;
    padding-top: 20px;
    top: 150px;

    box-shadow: 1px 5px 5px rgba(92, 156, 230, 0.445);
}

/* DID YOU KNOW Section */

#didyouknow {

    height: 100%;
    width: 100%;


    position: relative;
    overflow: hidden;




}

#dyk-heading {
    text-align: center;
    margin: 25px;
    font-size: 250%;
    padding-bottom: 25px;

}

#left-txt-dyk {
    padding-top: 30px;
    width: 25%;
    float: left;

}

#right-txt-dyk {
    padding-top: 30px;
    width: 25%;
    float: right;

}


#mid-img-dyk {

    width: 50%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    max-width: 480px;
    max-height: 380px;


    border-radius: 5%;
}


.left-dyk-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-dyk-heading h2 {
    text-align: right;
}

.right-dyk-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-dyk-heading p {
    text-align: right;

}

#didyouknow hr {
    border-top: 1px dashed #3a3a3a;
    margin: 5px 0;
}

/* THUMB NAIL EARTH EVENT SECTION */

#event {
    background: url("../images/earththumb.jpg") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#event div {

    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    border: 2px solid white;

    flex-basis: 200px;
    flex-grow: 1;
    overflow: hidden;

}

#event h3 {
    color: #62c197;
}


.container-glow {
    width: 100%;
    min-height: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.text-glow span {
    font-family: Neon;
    font-size: 120%;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));

}

@keyframes zoomup {

    0%,
    100% {
        color: #ffffff;
        filter: blur(1px);
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff 0 30px #ffffff,
            0 0 40px #ffffff 0 60px #ffffff, 0 0 80px #ffffff 0 100px #ffffff,
            0 0 120px #ffffff;
    }

    5%,
    95% {
        filter: blur(0);
        color: rgb(89, 134, 98);
        text-shadow: none;
    }
}

/* Explore Gallery Page Styles */



#explore-photos img {
    width: 100%;
    height: 50%;
    line-height: 1em;
    margin-left: 0.25em;
    border: 1px solid #f0ebac;
   


}

#explore-photos {
    line-height: 0;
    padding-right: 10px;

}

/*SIGNUP FORM STYLE*/
#signupform {
    border: 10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;

}
.input {
    padding: 0.25rem;
}
.inputcontainer {
    padding: 0.25rem;
    margin-top: 0.1rem;
}

#signuptitle {
    font-size: 5vw;
    
}

/* FOOTER */

#social-links {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    letter-spacing: 5px;
    list-style-type: none;
    text-align: center;

    margin: 5px;
}

#social-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: XS Device (>280px) */
@media screen and (min-width: 280px) {

    #signupform {

        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #signup-bg {
        background: url('/assets/images/blue-earth.avif') rgba(0, 0, 0, 0.7);
        height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
    }
}

/* MEDIA QUERY: tablets and larger (>576px and up) */
@media screen and (max-width: 576px) {

    #explore-photos {
        column-count: 2;

    }

}

/* MEDIA QUERY: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* HEADER */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 240%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* MAIN CONTENT */
    main {
        margin-top: 77px;
        flex: 1 0 auto;
    }

    #explore-photos>img:hover {
        border: 5px solid #fff;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-filter: none;
        filter: none;

    }

    #explore-photos img {

        line-height: 1em;
        width: 450px;
        height: 50%;
        margin: 10px;
        border: 10px solid #73b185;
        -webkit-filter: sepia(100%);
        filter: sepia(100%);
        transition-duration: 1s;

    }

    #explore-photos {
        line-height: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
}


/* MEDIA QUERY: small laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}


/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #didyouknow {
        width: 100%;
        height: 100%;
        margin: 0 auto;

    }

    #dyk-heading {
        padding: 30px 0;
        margin: 0;
    }

    #left-txt-dyk,
    #right-txt-dyk {

        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    #left-txt-dyk>div,
    #right-txt-dyk>div {
        width: 75%;
    }

    #right-txt-dyk {
        text-align: end;
        align-self: flex-end;


    }

    #left-txt-dyk {
        text-align: start;
        align-self: flex-start;

    }

    #mid-img-dyk {

        clear: both;
        width: 99%;
        float: center;
        padding: 0;
        margin: 0 auto;
    }

    #hero-outer {
        width: 100%;
        height: 100%;
    }

}

/* For xlarge screens size from 1200px wide and up*/


@media screen and (min-width:1200px) {
    #explore-photos {
        column-count: 3;
        column-gap: 10px;

    }

}