/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* GENERAL STYLES */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* GENERAL PROJECT STYLES */
    background-color: #FCFCF5;
    color: #3a3a3a;
    /* color-scheme for site
    : #7cb6e5 #e1c3af(MAIN) #3b443f #382f24 #b4b4d4 */
    font-family: 'Roboto Slab', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #003b1b;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: disclosure-closed;
    list-style-image: url("/assets/favicon1/favicon-16x16.png");
    list-style-position: inside;
    padding-top: 10px;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 1);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* MAIN CONTENT */
main {
    /* background-color: #e1c3af; */
    /* MAIN ELEMENT TAKE SURPLUS SPACE TO PUSH FOOTER */
    flex: 1 0 auto;
    margin-top: 45px;
    background-color: #FCFCF5;

}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/photo-1534294228306-bd54eb9a7ba8\ \(1\).avif") no-repeat center center/cover;
    transition: transform 10s ease-in-out, width 3s ease-in-out, height 3s ease-in-out;
    animation-duration: 10s;
    animation-name: hero-zoom;
    position: relative;
}

@keyframes hero-zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 1);


    position: relative;

}

#cover-text {

    background-color: rgba(255, 255, 255, .6);
    font-size: 130%;
    position: absolute;

    width: 200px;
    min-height: 200px;
    right: 40px;
    padding-left: 10px;
    padding-top: 20px;
    top: 280px;

    box-shadow: 1px 5px 5px rgba(92, 156, 230, 1);
}

/* DID YOU KNOW Section */

#didyouknow {

    height: 600px;

    /* TEST */
    position: relative;
   overflow:hidden;
    width: 100%;
    

}

#dyk-heading {
    text-align: center;
    margin: 25px;
    font-size: 250%;
    padding-bottom: 25px;
    
}

#left-txt-dyk {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-txt-dyk {
    padding-top: 30px;
    width: 33%;
    float: right;

}


#mid-img-dyk {
  
    width: 33%;
    margin: 0 auto;

    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;
    max-width: 520px;
    max-height: 420px;


    border-radius: 5%;
}


.left-dyk-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-dyk-heading h2 {
    text-align: right;
}

.right-dyk-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-dyk-heading p {
    text-align: right;

}

#didyouknow hr {
    border-top: 1px dashed #3a3a3a;
    margin: 5px 0;
}

/* FOOTER */

#social-links {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    letter-spacing: 5px;
    list-style-type: none;
    text-align: center;


}

#social-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* MEDIA QUERY: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* HEADER */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 240%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* MAIN CONTENT */
    main {
        margin-top: 77px;
        flex: 1 0 auto;
    }

   

    }


    /* MEDIA QUERY: small laptops and larger (992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }
      

   /* For larger to medium screens size from 1200px wide and down */
   @media screen and (max-width: 1200px) {

       #didyouknow {
           width: -webkit-fill-available;
           height: 1200px;
           margin: 0 auto;

       }

       #dyk-heading {
           padding: 30px 0;
           margin: 0;
       }

       #left-txt-dyk,
       #right-txt-dyk {

           width: fit-content;
           float: none;
           padding: 0;
       }

       #mid-img-dyk {

           clear: both;
           width: fit-content;
           float: center;
           padding: 0;
           margin: 0 auto;
       }

       #hero-outer {
        width: -webkit-fill-available;
        height: fit-content;
       }

   }
